@font-face {
    font-family:Montserrat ;
    src: url(../fond/GolosText-Bold.ttf);
}
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 20px;

}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.hero{
    background: #F4F5F8;
  padding-top: 18px;
    display: flex;
    justify-content: space-around;
 

}
.hero-blok1{
   width: 119px;
   margin-left: 40px;
}
.hero-blok2{
 min-width: 455px;
 margin-right: 40px;
}
.hero-blok2-lest{
    /* max-width: 400px; */
    display: flex;
    gap: 32px;

   
}
.hero-blok2-link{
    
font-family: Golos;
font-size: 14px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
color: #757575;

}


.hero-nav{
    padding-top: 28px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-nav-star{
    margin-left: 40px;
}
.hero-cords{
    margin-right: 40px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.hero-nav-link{

    font-family: Golos;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #161616;
    
    
    
    
    padding: 12px 20px 12px 20px;
    border-radius: 8px;
    
    background: #F4F5F8;
    
}
.hero-cords-but{
    cursor: pointer;

    font-family: Golos;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
   

 
padding: 12px 20px 12px 20px;
border-radius: 8px;
background: #202226;
color: #fff;
}

/* main */
.fix-cords{
    max-width: 1200px;
    display: flex;
    background: #202226;
   justify-content: space-between;
    border-radius: 16px;
    
  
   
    
}
.fix-cord{
    /* max-width: 552px; */
    padding-top: 40px;
    /* margin: 0 40px; */
}
.fix-coed-titel{
padding-bottom: 32px;


font-family: Golos;
font-size: 40px;
font-weight: 400;
line-height: 48px;
color: #fff;
text-align: left;

}
.fix-cord-img{
    display: block;
    background-color: #fff;
 
border-radius: 12px;

}
.fix-cord-item{



font-family: Golos;
font-size: 16px;
font-weight: 400;
line-height: 20px;
color: #9F9F9F;

text-align: left;

}
.span1{
    padding-left: 215px;
}
.fix-cord-span{
    font-family: Golos;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #9F9F9F;
    
padding-left: 305px;
}
.fix-chiziq{
    width: 451px;
margin-top: 12px;

border: 1px solid #36383C;

}
.chiziqcha{
    margin-bottom: 88px;
}
.fix-coed-span2{

font-family: Golos;
font-size: 24px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.01em;
color: #fff;



}
.fix-chiziq2{
    margin-top: 32px;
    margin-bottom: 40px;
    width: 556px;
    border: 1px solid #36383C;



}
button{

    border: none;
}
.fix-cord-but{
   
    font-family: Golos;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #161616;


padding: 12px 20px 12px 20px;
border-radius: 8px;
margin-bottom: 40px;

}
.fix-kk{
    position: relative;
}
.kk{
    position: absolute;
    top: 460px;
    left: 400px;
}

.fix-cord-link-img{
    width: 44px;
    height: 44px;
    border-radius: 8px;
    background-color: #fff;
 

}
/* section-box */
.box-cords{
    padding-top: 120px;
    padding-bottom: 60px;
    max-width: 752px;
    margin: 0 40px;
}
.box-cords-titel{
    
font-family: Golos;
font-size: 40px;
font-weight: 400;
line-height: 48px;
letter-spacing: 0em;
text-align: left;
color: #161616;

}
.box-cords-item{
 padding-top: 20px;
font-family: Golos;
font-size: 20px;
font-weight: 400;
line-height: 24px;
color: #757575;


}
.box-cord{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 0 40px;
}

.box-blok{
    max-width: 389px;
    margin: 0;
    text-align: center;
    padding: 24px;
    border-radius: 16px;
    
background: #F4F5F8;

}
.box-blok-titel{
    width: 241px;
    margin: 0;
    text-align: start;
    padding-bottom: 12px;
}
/* section-gid */
.gid-cords{
    padding-top: 120px;
    margin: 0 40px;
}
.gid-cords-titel{
    max-width:  852px;
    margin: 0;
    color: #161616;

  


font-family: Golos;
font-size: 40px;
font-weight: 400;
line-height: 48px;
letter-spacing: 0em;
text-align: left;

}
.gid-cords1{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
}
.gid-cord{
   
    max-width: 389px;
padding: 15px;

border-radius: 8px;

    border: 1px solid none  ;
    position: relative;
}
.bid-cord-img{
    /* display: block; */
    position: absolute;
    top: 15px;
    left: -71px;
}

.bid-cord-titel{
    display: inline-block;
    
    
    
}
.gid-cord-item{
    width: 314px;
    display: inline-block;
    /* text-align: end; */
}
/* section-foor \\\\\\\\\\\\\\\\\*/
.foor-cords{
    display: flex;
    margin: 0 40px;
}
.foor-cord{
    max-width: 592px;
    max-height: 390px;
    margin: 0;
    border-radius: 16px;

    background: #F4F5F8;

}
.foor-cord-titel{
    padding: 40px;
  
font-family: Golos;
font-size: 40px;
font-weight: 400;
line-height: 48px;
letter-spacing: 0em;
text-align: left;
color: #161616;


}
.foor-cord-item{
margin-bottom: 15px;
   padding: 0 40px;
font-family: Golos;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: #757575;


}
.foor-bloks{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
}
.foor-blok{
    max-width: 200px;
    /* max-height: 200px; */
    padding: 2px;
    
    border-radius: 15px;
    text-align: center;
    /* background: #F4F5F8; */


}
.foor-blok-img12{
    padding-top: 25px;
}
/* section-end\\\\\\\\\\\\\\\\\ */
.end-cords{
    display: flex;
    margin: 0 40px;
    max-width: 1200px;
    padding-bottom: 40px;

border-radius: 20px;
background: #202226;


}
.end-cord{
    padding-top: 40px;
}
.end-cord-titel{
    width: 400px;
    margin: 0;
font-family: Golos;
font-size: 40px;
font-weight: 400;
line-height: 48px;

text-align: left;
color: #FFFFFF;


}
.end-cord-item{
    width: 400px;
    padding-bottom: 70px;
font-family: Golos;
font-size: 16px;
font-weight: 400;
line-height: 20px;
color: #9F9F9F;


}
.end-cord-item1{
    width: 400px;
    padding-top: 16px;
    padding-bottom: 16px;
font-family: Golos;
font-size: 16px;
font-weight: 400;
line-height: 20px;
color: #9F9F9F;
}
.end-chiziq{
    width: 552px;;

border: 2px;

border: 2px solid #FFFFFF;
}
.end-cord-but{
margin-top: 40px;
padding: 12px 20px 12px 20px;
border-radius: 8px;

background: #FFFFFF;

}